* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.btn {
  background: rgba(21, 142, 255, 1);
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}

/* =========================Start of dropdown CSS */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 250px;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
  z-index: 1;
}

.dropdown-content a {
  width: 242px;
  display: flex;
  color: #2B2B2B;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: white;
  background-color: #2D80E5;
}

/* =================================== End of dropdown CSS */

header {
  width: 100%;
}

nav {
  position: absolute;
  width: 100%;
  height: 79px;
  left: 0px;
  top: 0px;
  background: #EEF1F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#nav-links a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 16px;
  text-decoration: none;
}

#nav-btn {
  display: flex;
  flex: row;
}

#nav-btn a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 16px;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 80px;
  height: 20px;
  left: 950px;
  top: 28px;
  background: #EEF1F4;;
  border: 1px solid #2D80E5;
  color: #2D80E5;
  border-radius: 6px;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  width: 80px;
  height: 20px;
  left: 1085px;
  top: 28px;
  background: #2D80E5;
  color: white;
  border-radius: 6px;
}
/* end of nav-bar */

/* start of main */
#header-section {
  position: absolute;
  width: 100%;
  height: 554px;
  left: 0px;
  top: 79px;
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-between;
}

#header-text h1 {
  position: absolute;
  width: 680px;
  height: 108px;
  left: 72px;
  top: 114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #091A2E;
}

#blue-text {
  color: #2D80E5;
}

#header-text p {
  position: absolute;
  width: 631px;
  height: 108px;
  left: 74px;
  top: 226px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #2B2B2B;  
}

#header-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  gap: 10px;
  position: absolute;
  width: 261px;
  height: 55px;
  left: 74px;
  top: 358px;
  background: #2D80E5;
  border-radius: 6px;
}

#header-img {
  position: absolute;
  width: 618.54px;
  height: 473.71px;
  left: 706.78px;
  top: 33.92px;  
}

#businesses {
  position: absolute;
  width: 100%;
  height: 480px;
  left: 0px;
  top: 633px;
  background: #D5E6FA;
}

#businesses h2 {
  position: absolute;
  width: 308px;
  height: 36px;
  left: 73px;
  top: 79px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #0F2B4C;  
}

.bus-type-cards img {
  width: 50px;
  height: 50px;
  background: url(.jpg);
  flex: none;
  order: 0;
  flex-grow: 0;
}

#ecommerce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 12px;
  position: absolute;
  width: 220px;
  height: 238px;
  left: 73px;
  top: 159px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

#ecommerce h2 {
  position: absolute;
  width: 217px;
  height: 27px;
  left: 24px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #091A2E; 
}

#ecommerce p {
  position: absolute;
  width: 199.53px;
  height: 84px;
  left: 24px;
  top: 113px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;   
}

#website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 12px;
  position: absolute;
  width: 220px;
  height: 238px;
  left: 362px;
  top: 159px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;  
}

#website h2 {
  position: absolute;
  width: 217px;
  height: 27px;
  left: 24px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #121212;
}

#website p {
  position: absolute;
  width: 199.53px;
  height: 84px;
  left: 24px;
  top: 113px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
}

#mobile-apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 12px;
  position: absolute;
  width: 220px;
  height: 238px;
  left: 651px;
  top: 159px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;  
}

#mobile-apps h2 {
  position: absolute;
  width: 217px;
  height: 24px;
  left: 24px;
  top: 82px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #121212;
}

#mobile-apps p {
  position: absolute;
  width: 199.53px;
  height: 84px;
  left: 24px;
  top: 110px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
}

#saas-apps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  gap: 12px;
  position: absolute;
  width: 220px;
  height: 234px;
  left: 940px;
  top: 159px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;  
}

#saas-apps h2 {
  position: absolute;
  width: 217px;
  height: 27px;
  left: 24px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #121212;
}

#saas-apps p {
  position: absolute;
  width: 199.53px;
  height: 105px;
  left: 24px;
  top: 109px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #404040;
}

#features-section {
  position: absolute;
  width: 100%;
  height: 1403px;
  left: 0px;
  top: 1076px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#rafiki2 {
  position: absolute;
  width: 558px;
  height: 445.41px;
  left: 72px;
  top: 146.76px;
}

#rafiki2-text h3 {
  position: absolute;
  width: 491px;
  height: 32px;
  left: 702px;
  top: 245.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #121212;  
}

#rafiki2-text p {
  position: absolute;
  width: 491px;
  height: 84px;
  left: 702px;
  top: 301.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #555555;  
}

#rafiki3 {
  position: absolute;
  width: 558px;
  height: 445.41px;
  left: 649px;
  top: 599.91px;  
}

#rafiki3-text h3 {
  position: absolute;
  width: 491px;
  height: 32px;
  left: 87px;
  top: 668.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #121212;    
}

#rafiki3-text p {
  position: absolute;
  width: 491px;
  height: 63px;
  left: 87px;
  top: 725px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #555555;  
}

#rafiki4 {
  position: absolute;
  width: 558px;
  height: 445.41px;
  left: 71px;
  top: 1053.06px;  
}

#rafiki4-text h3 {
  position: absolute;
  width: 491px;
  height: 32px;
  left: 702px;
  top: 1092px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #121212;  
}

#rafiki4-text p {
  position: absolute;
  width: 491px;
  height: 42px;
  left: 702px;
  top: 1148px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #555555;  
}

.feature {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#features-section h2 {
  position: absolute;
  width: 538px;
  height: 48px;
  left: 371px;
  top: 59px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F2B4C;  
}

#services-section {
  position: absolute;
  width: 100%;
  height: 506px;
  left: 1px;
  top: 2479px;
  background: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#services-section h1 {
  position: absolute;
  width: 538px;
  height: 96px;
  left: 371px;
  top: 93px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F2B4C;  
}

#services {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.services-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#frame28 {
  box-sizing: border-box;
  position: absolute;
  width: 361px;
  height: 234px;
  left: 72px;
  top: 221px;
  border: 1px solid #0F2B4C;
  border-radius: 12px;
}

#frame28 img {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 154px;
  top: 20px;

  background: url(.jpg);
}

#frame28 h3 {
  position: absolute;
  width: 271px;
  height: 27px;
  left: 46px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #121212;  
}

#frame28 p {
  position: absolute;
  width: 223px;
  height: 84px;
  left: 69px;
  top: 119px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #555555;
}

#frame29 {
  position: absolute;
  width: 361px;
  height: 234px;
  left: 458px;
  top: 221px;
  background: #D5E6FA;
  border-radius: 12px;
}

#frame29 img {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 154px;
  top: 20px;

  background: url(.jpg);
}

#frame29 h3 {
  position: absolute;
  width: 200px;
  height: 27px;
  left: 80px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #121212;
}

#frame29 p {
  position: absolute;
  width: 223px;
  height: 84px;
  left: 69px;
  top: 119px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #555555;
}

#frame30 {
  position: absolute;
  width: 361px;
  height: 234px;
  left: 845px;
  top: 221px;
  border: 1px solid #0F2B4C;
  border-radius: 12px;
}

#frame30 img {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 154px;
  top: 20px;

  background: url(.jpg);
}

#frame30 h3 {
  position: absolute;
  width: 251px;
  height: 27px;
  left: 55px;
  top: 82px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #121212;
}

#frame30 p {
  position: absolute;
  width: 223px;
  height: 84px;
  left: 69px;
  top: 119px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  color: #555555;
}

.vector {
  width: 200px;
  align-items: flex-end;
}

#testimonial-section {
  position: absolute;
  width: 100%;
  height: 360px;
  left: 0px;
  top: 3156px;
  background: #D5E6FA;
  
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

#testimonial-section h2 {
  position: absolute;
  width: 617px;
  height: 360px;
  left: 67px;
  top: 71px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  color: #091A2E;
}

.card {
  width: 362px;
  height: 150px;
  top: 139px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

#frame42 {
  position: absolute;
  left: 75px;
}

#card1-msg {
  position: absolute;
  width: 309px;
  height: 63px;
  left: 27px;
  top: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121212;
}

#frame42 img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 27px;
  top: 96px;
  background: url(.jpg);
}

#card1-name {
  position: absolute;
  width: 83px;
  height: 18px;
  left: 65px;
  top: 102px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
}

#frame43 {
  position: absolute;
  left: 461px;
}

#card2-msg {
  position: absolute;
  width: 305px;
  height: 63px;
  left: 27px;
  top: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121212;
}

#frame43 img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 27px;
  top: 96px;
  background: url(.jpg)
}

#card2-name {
  position: absolute;
  width: 85px;
  height: 18px;
  left: 65px;
  top: 102px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
}

#frame44 {
  position: absolute;
  left: 847px;
}

#card3-msg {
  position: absolute;
  width: 312px;
  height: 63px;
  left: 27px;
  top: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #121212; 
}

#frame44 img {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 27px;
  top: 96px;
  background: url(.jpg);
}

#card3-name {
  position: absolute;
  width: 106px;
  height: 18px;
  left: 65px;
  top: 102px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #555555;  
}

#faq-section {
  position: absolute;
  width: 100%;
  height: 560px;
  left: 0px;
  top: 3516px;
  box-sizing: border-box;
  background: #FFFFFF;
}

#faq-section h1 {
  position: absolute;
  width: 75px;
  height: 54px;
  left: 602px;
  top: 57px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: justify;
  color: #0F2B4C;
}

#faq-section table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  position: absolute;
  width: 797px;
  height: 368px;
  left: 265px;
  top: 135px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  width: 95%;
  border-bottom: 1px solid grey;
  padding: 10px;
}


#documentation-section {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 180px;
  left: 0px;
  top: 4076px;
  background: #FFFFFF;
  border: 2px solid #266BBF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#documentation-section h2 {
  position: absolute;
  width: 508px;
  height: 42px;
  left: 73px;
  top: 69px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: justify;
  color: #174073;
}

.doc-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  gap: 10px;

  position: absolute;
  width: 239px;
  height: 48px;
  left: 968px;
  top: 66px;
  background: #158EFF;
  border-radius: 6px;
}


/* footer styling */

footer {
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0px;
  top: 4256px;
  background: #1E5599;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 28px;
  border-radius: 0px;
}

#top-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-links {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-img {
  position: absolute;
  width: 201px;
  height: 99px;
  left: 50px;
  top: 20px;
  
  /* background: url(zuri logo); */
}

#top-foot-1 p {
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;    
}

#top-foot-1 div {
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #E6E6E6;
  flex: none;
  flex-grow: 0;  
}

#top-foot-2 p {
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;  
}

#top-foot-2 a {
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  text-align: center;
  color: #E6E6E6;
  flex: none;
  flex-grow: 0;  
}

#top-foot-3 p {
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
}

#top-foot-3 a {
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  text-align: center;
  color: #E6E6E6;
  flex: none;
  flex-grow: 0;
}

#bottom-footer {
  width: 100%;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#footer-link a {
  margin-right: 20px;
  height: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #E6E6E6;
  flex: none;
  flex-grow: 0;  
}

#copyright {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  flex: none;
  flex-grow: 0;
}


footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
