* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    /*border-radius: 8px;*/
}

.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.logo {
    /*position: absolute;
    left: 20px;
    top: 0;
    margin: 10px;
    position: absolute;
        width: 201px;
        height: 99px;
        left: 69px;
        top: 6px;*/

    position: absolute;
    left: 10px;
    top: 2px;

}

/*.navigation_bar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    position: absolute;
    width: 297px;
    height: 27px;
    left: 527px;
    top: 34px;
}*/
nav ul li a {
    text-decoration: none;
    color: rgb(85, 84, 84);
    font-weight: none;
}

nav {
    display: flex;
    width: 40%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}



.imgdiv1 {
    float: right;
    align-items: center;
    height: 350.3926696777344px;
    width: 470.25px;
    left: 805px;
    top: 44.625px;
    border-radius: 0px;
}

.imgdiv2 {
    float: right;
    align-items: center;
    height: 350.3926696777344px;
    width: 470.25px;
    left: 805px;
    top: 44.625px;
    border-radius: 0px;
}

.contact-us {
    color: #0F2B4C;
    font-family: Poppins;
    font-size: 36px;
    /*font-weight: 700;
    line-height: 54px;*/
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justified;
    color: #555555;
}

.feature_Section {
    font-family: Poppins;
    font-size: 36px;
    /*font-weight: 700;
    line-height: 54px;*/
    letter-spacing: 0em;
    text-align: left;
    color: #0F2B4C;
    /* height: 480px;
    width: 1280px;
    left: 0px;
    top: 639px;
    border-radius: 0px;*/
}

/*
.Grp17{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 70px;
    top: 60px;

}*/

/*.footer_section{
    height: 220px;
    width: 1280px;
    left: 0px;
    top: 1000px;
    border-radius: 0px;
    background: #1E5599;
    flex: none;
    order: 3;
    flex-grow: 0;
}*/
.footer_logo,
.footer_part h3 {
    font-size: 1.3rem;
}

.footer_section {
    background-color: #1E5599;
    padding: 1rem 0;
}

.footer-section__middle-column {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer_Company {
    text-align: center;
    justify-content: space-around;
    left: 100px;
    display: flex;
}

.footer_Support {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.register {
    height: 35px;
    width: 123px;
    left: 1087px;
    top: 28px;
    border-radius: 6px;
    border: 1px solid #2D80E5;
    padding: 13px 24px 13px 24px;
    background-color: #2D80E5;
    color: #FFFFFF;
    text-align: center;

}

.login {
    height: 35px;
    width: 123px;
    left: 1087px;
    top: 28px;
    border-radius: 6px;
    padding: 13px 24px 13px 24px;
    border: 1px solid #2D80E5;
    background: transparent;
    color: #2D80E5;
}

/*.footer_copyright {
    height: 21px;
     width: 376px;
    left: 74px;
    top: 171px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
}*/
.footer_Company {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    width: 93px;
    height: 52px;
}

.footer_copyright {
    bottom: 10px;
}